* {
    margin: 0;
    padding: 0;
}

div {
    box-sizing: border-box;
}

:root {
    --nav-height: 50px;
    --color-1: #58626c;
    --color-2: #dac8be;
    --color-3: #ecc1a1;
    --color-4: #f5f1ee;

    --content-width: 90%;
    --content-max-width: 1200px;
}
