.home-section-wrapper {
    display: block;
    height: 500px;
    width: 100%;

    display: flex;

    background-color: var(--color-4);
}

.home-section-container {
    height: 500px;
    width: 80%;
    max-width: 1200px;

    padding: 40px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.home-section-container p {
    margin: 0;
}
.home-section-container img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.section-wrapper {
    padding: 30px 0px;
}
